/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cores {
    width: 200px;
    height: 200px;
}

#azul {
    background-color: blue;
}
#vermelho {
    background-color:red;
} */

/* Exercício 3 */
.quadrado {
    width: 200px;
    height: 200px;
    background-color: black;
}

.preto {
    
}

.azul {
    background-color: blue;
}